--- 
layout: default 
title: Home 
permalink: index.html 
---
<div id="Header_wrapper">
    {% include header.html %}
</div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                       
                        <div class="section mcb-section" style="padding-top:130px; padding-bottom:130px;" data-parallax="3d"> <img class="mfn-parallax" src="{{site.baseurl}}/assets/images/home_garden2_sectionbg1.jpg" style="opacity:0">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-third  column-margin-0px valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_placeholder">
                                            <div class="placeholder"> &nbsp; </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="wrap mcb-wrap two-third valign-top clearfix" style="padding:60px 50px 10px; background-color:#eaddcd">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column  column-margin-20px">
                                            <div class="column_attr clearfix">
                                                <h2>OUR SERVICES</h2>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one-third column_column">
                                            <div class="column_attr clearfix" style=" padding:0 15% 0 0;">
                                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                    <div class="image_wrapper"> <img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_garden2_icon1.png" alt="img"> </div>
                                                </div>
                                                <hr class="no_line" style="margin: 0 auto 20px">
                                                <h4>THATCHING</h4>
                                                <p> We do thatching of all structures, from small scale huts, to full scale houses, etc. etc. </p>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one-third column_column">
                                            <div class="column_attr clearfix" style=" padding:0 15% 0 0;">
                                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                    <div class="image_wrapper"> <img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_garden2_icon2.png" alt="img"> </div>
                                                </div>
                                                <hr class="no_line" style="margin: 0 auto 20px">
                                                <h4>PAVING</h4>
                                                <p> Our paving services, including paving of driveways, and side walks. We offer excellent paving services. </p>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one-third column_column">
                                            <div class="column_attr clearfix" style=" padding:0 15% 0 0;">
                                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                    <div class="image_wrapper"> <img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_garden2_icon2.png" alt="img"> </div>
                                                </div>
                                                <hr class="no_line" style="margin: 0 auto 20px">
                                                <h4>LAWNS</h4>
                                                <p> We supply and install instant lawn for varying areas of land. The lawn we supply is vibrant and fresh. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <div class="section mcb-section full-width" style="padding-top:70px; padding-bottom:130px" data-parallax="3d"> <img class="mfn-parallax" src="{{site.baseurl}}/assets/images/home_garden2_sectionbg2.jpg" style="opacity:0">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one valign-top clearfix">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one-second column_placeholder">
                                            <div class="placeholder"> &nbsp; </div>
                                        </div>
                                    
                                <div class="wrap mcb-wrap two-third valign-top clearfix" style="padding:60px 50px 10px; background-color:#eaddcd">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column  column-margin-20px">
                                            <div class="column_attr clearfix">
                                                <h2>OUR SERVICES CONT.</h2>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one-third column_column">
                                            <div class="column_attr clearfix" style=" padding:0 15% 0 0;">
                                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                    <div class="image_wrapper"> <img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_garden2_icon1.png" alt="img"> </div>
                                                </div>
                                                <hr class="no_line" style="margin: 0 auto 20px">
                                                <h4>POOLS</h4>
                                                <p> Our pool services span from refurbishments, installations, to complete pool renovations.</p>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one-third column_column">
                                            <div class="column_attr clearfix" style=" padding:0 15% 0 0;">
                                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                    <div class="image_wrapper"> <img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_garden2_icon2.png" alt="img"> </div>
                                                </div>
                                                <hr class="no_line" style="margin: 0 auto 20px">
                                                <h4>INSTALLATIONS</h4>
                                                <p> We install fountains, features in gardens and related services. </p>
                                            </div>
                                        </div>
                                        <div class="column mcb-column one-third column_column">
                                            <div class="column_attr clearfix" style=" padding:0 15% 0 0;">
                                                <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                                    <div class="image_wrapper"> <img class="scale-with-grid" src="{{site.baseurl}}/assets/images/home_garden2_icon2.png" alt="img"> </div>
                                                </div>
                                                <hr class="no_line" style="margin: 0 auto 20px">
                                                <h4>TAR SURFACING</h4>
                                                <p> Our tar surfacing services, cover small scale tarred services to entire court surfaces. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>

